<nav id="menu" class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__list-item" data-menuanchor="main">
      <a href="#main">Главная</a>
    </li>
    <li class="main-nav__list-item" data-menuanchor="about">
        <a href="#about">О мероприятии</a>
    </li>
    <li class="main-nav__list-item" data-menuanchor="schedule">
      <a href="#schedule">Из чего состоит форум</a>
    </li>
    <li class="main-nav__list-item" data-menuanchor="contacts">
      <a href="#contacts">Контакты</a>
    </li>
  </ul>
</nav>

